# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science;
* List popular labraries for Data Science;
* List pupular tools for Data Science.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas (Python)
2. NymPy (Python)
3. TensorFlow
4. Matplotlib

| Data Science Tools |
| -------- |
| Jupyter Notebook (Lab) |
| RStudio |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

2 + 2 = 5

2 * 2 = 5

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
a = 60 #min in one hour
b = 200 #min that you want to convert
c = b//60 #integer value of hour from a variable b
c

3

## Author
Ilia